body {
    font-family: 'Open Sans';
    animation: fadeInAnimation ease 7s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    background-image: url("../images/nost.jpg");
    color: #00FFFF;
    text-shadow:
      -1px -1px 0 #7100ad, 
      1px -1px 0 #7100ad,  
      -1px 1px 0 #7100ad,  
      1px 1px 0 #7100ad; 
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: auto;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    z-index: 999;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}
.glow {
    color: #7100ad;
    text-shadow:
      -1px -1px 0 #00FFFF,
      1px -1px 0 #00FFFF,
      -1px 1px 0 #00FFFF,
      1px 1px 0 #00FFFF;
    text-decoration: none;
  }
  a.glow:hover {
    color: #00FFFF;
    text-shadow:
      -1px -1px 0 #7100ad,
      1px -1px 0 #7100ad,
      -1px 1px 0 #7100ad,
      1px 1px 0 #7100ad;
  }
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}
.copyright {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    font-size: 12px;
}
.logo {
    font-size: 36px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #00FFFF;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-shadow: black;
    background: linear-gradient(45deg, #00FFFF, #00FFFF);
    background-clip: text;
    -webkit-background-clip: text;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 8px;
    border: 2px solid #00FFFF;
}

h1 {
    text-align: center;
}
h3 {
    text-align: center;
}
form {
    margin-bottom: 20px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li a {
    float: right;
    font-size: 30px;
    display: block;
    color: #00FFFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #7100ad;
}
a {
    color: #00FFFF;
}
a:hover {
    color: #7100ad;
    cursor: pointer;
    font-weight: bolder;
    text-shadow:
      -1px -1px 0 #00FFFF,
      1px -1px 0 #00FFFF,
      -1px 1px 0 #00FFFF,
      1px 1px 0 #00FFFF;
}
button[type="submit"] {
    background-color: #00FFFF;
    color: #7100ad;
    padding: 10px 20px;
    border: none;
    cursor:pointer;
    font-weight: bold;
    border-radius: 4px;
}
button[type="submit"]:hover {
    background-color: #7100ad;
    color: #00FFFF;
    font-weight: bolder;
}
select {
    background-color: #7100ad;
    color: #00FFFF;
    cursor:pointer;
}
select:hover {
    background-color: #00FFFF;
    color: #7100ad;
    font-weight: bolder;
}
input {
    background-color: #7100ad;
    color: #00FFFF;
}
textarea {
    background-color: #7100ad;
    color: #00FFFF;
}
::placeholder {
    color: #00FFFF;
    opacity: 10;
}